{% extends 'base.html' %}

{% block content %}
<!-- This thing on top is where I have all the content that is on the under of the navbar -->
  <div class="d-flex flex-wrap" style="">
		<!-- I am going to want to have this column disappear when we are on mobile devices. I don't know if this part will need to be in react but it might. But just becasue something is possible
				doesn't mean that its worth doing -->
		<div class="col-lg-1" style="">
			feoiaj
		</div>
		<!-- This is the column space that useres will be able to select pokemon to their team. This will be in React-->
			<div class="col-lg-11 col-12" id="pokemons"> </div>

		<!--This is where there will be a table that has the type stuff in it. The table will be in react  -->
		<!-- <div class="col-12 col-lg-6" style="">
			<p> This side will be the table </p>
			<div id="table"> </div>
			<!--Right here we will put in the tabl ething -->
		<!-- </div>
	</div> -->

	<script type="text/javascript">
		{% include "mainPokemonContent.js" %}
	</script>


{% endblock %}
